{% extends "base.html" %}

{% block content %}
  <h1>
    Manufacturers
    <a href="{% url 'taxi:manufacturer-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form class="form-inline" method="get">
    {{ search_form.name }}
    <input type="submit" value="Search" class="btn btn-outline-info ml-2">
    <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-outline-secondary ml-2">Clear</a>
  </form>

  {% if manufacturer_list %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        {% for manufacturer in manufacturer_list %}
          <tr>
            <td>
              <a href="{% url 'taxi:manufacturer-detail' pk=manufacturer.id %}">{{ manufacturer.id }}</a>
            </td>
            <td>{{ manufacturer.name }}</td>
            <td>{{ manufacturer.country }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "includes/pagination.html" %}
  {% else %}
    <p>There are no manufacturers in the taxi service.</p>
  {% endif %}
{% endblock %}
